.login{
    display: flex;
    flex-direction: column;
    width: 25vh;
    height: 25vh;
    margin: 10px 10px 40px 0;
    justify-content: space-between;
    border: solid .5px;
    padding: 3px;
}
.container{
    width: 25vh;
    display: flex;
    flex-direction: column;
}
.success{
    color: mediumseagreen;
}
.error{
    color:brown;
}